.profile-bg{
    background-color: darkorange;
}
.p-cont-box{
    height:2rem;
    width:100%;
    height:100%;
    padding:10px;
    background-color: white;
    box-shadow: 2px 2px 5px;
}
.p-itm{
    background-color: white;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom:solid transparent;
    transform: border-color 0.5s;
}
.p-itmcol{
    border-bottom-color: darkorange;
}
.p-itm:hover{
    border-bottom-color: darkorange;
}
.choice-btn1{
    border:2px solid darkorange;
    border-bottom:none;
    border-right:none;
    border-top-left-radius: 4px;
    color:darkorange;
    cursor: pointer;
}
.choice-btn2{
    border:2px solid darkorange;
    border-bottom:none;
    border-top-right-radius: 4px;
    color:darkorange;
    cursor: pointer;
}
.pr-main-box{
    height:80vh;
}
.form-control{
    border:1px solid rgb(179, 178, 178);
}
.pr-cont{
    border: 1px solid gray;
    border-radius: 4px;
    width:50%;
}
.pr-pcode{
    width:5rem;
}
.profile-btn{
    background-color: darkorange;
    color:white;
}
.profile-btn:hover{
    background-color: darkorange;
    color:white;
}
.eye-icon-pass{
    cursor:pointer;
    border:1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.pass-inp{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.perror-txt{
    font-size: small;
}