.search-nav{
    background-color: darkorange;
    position: sticky;
    top:0;
}
.search-cont{
    color:white;
    z-index: 100;
}
.s-logo{
    color:rgb(241, 241, 104) !important;
    font-weight:bold;
    font-size: 2rem !important;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.5);
}
.search-input{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.search-drop{
    border:none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.s-nav-btn:hover{
    color:darkorange;
}
.form-check-input{
    border:1px solid;
}
.item-cont{
    display: flex; 
    justify-content: space-around !important;
    width:100%;
    height: auto;
    background-color:floralwhite;
}
.heart{
    color:red;
}
.filter{
    height:100%;
    border: 1px solid gray;
    border-radius: 5px;
    width:23%;
    position:sticky;
    top:75px;
}
.filter-h3{
    color:darkorange;
}
.bdg-box1{
    cursor: pointer;
}
.minrange{
    height:2rem;
    width:2rem;
    background-color:darkorange;
    color:white;
    text-align: center;
}
.maxrange{
    height:2rem;
    width:5rem;
    background-color: darkorange;
    color:white;
    text-align: center;
}
.type-box{
    border-top:1px solid gray;
    cursor:pointer;
}
.type-btn{
    font-size: 14px;
    border-radius: 20px;
    border:1px solid gray;
    text-align: left;
}
.items-sec{
    height:auto;
    width:67%;
    cursor:pointer;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.s-img{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.head{
    font-weight:600;
}
.head2{
    font-size: 1rem;
    font-weight: 500;
}
.price{
    font-size: 0.8rem;
}
.item-bd{
    border-left:1px solid gray
}
.item-btn{
    border: 1px solid blue;
    color:blue;
}
.item-box2{
    width:100%;
}
.prop-price{
    white-space: nowrap;
}
.view-btn{
    bottom: white;
    border:1px solid darkorange;
    color:darkorange;
}
.view-btn:hover{
    background-color: darkorange;
    color:white;
}
.c-btn{
    background-color: darkorange;
    color:white;
}
.c-btn:hover{
    background-color: darkorange;
    color:white;
}
.checked{
    color:orange;
}
.cardsec{
    border: 1px solid gray;
    border-radius: 14px;
}
.dep-price{
    font-size: medium;
    color:gray;
    font-family: 'Times New Roman', Times, serif;
}